<div fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center center">
    <mat-card fxFlex="100" style="background-color: rgba(1,1,1,0.1)">
      <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="center center">
        <button mat-raised-button color="primary" (click)="openSlotDialog(addSlot)">
          Add Spell Slot
        </button>
        <button mat-raised-button color="primary" (click)="openCounterDialog(addCounter)">
          Add Counter
        </button>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-character-slot-box *ngFor="let spellSlot of character.spellSlots"
                                [spellSlot]="spellSlot" style="padding: 5px"
                                (onSlotDelete)="onSlotDelete($event)"></app-character-slot-box>
      </div>
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <app-character-counter-box *ngFor="let counter of character.counters"
                                   [counter]="counter" style="padding: 5px"
                                   (onCounterDelete)="onCounterDelete($event)"></app-character-counter-box>
      </div>
    </mat-card>
  </div>
  <div fxLayout="row" fxLAyoutAlign="center center">
    <table mat-table [dataSource]="character.spells" fxFlex="100" style="padding: 5px"
           multiTemplateDataRows>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name</th>
        <td mat-cell *matCellDef="let spell">
          <div (click)="expandedSpell = expandedSpell === spell ? null : spell" class="table-name">
            {{spell.name}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="spellSlot">
        <th mat-header-cell *matHeaderCellDef> Spell Level</th>
        <td mat-cell *matCellDef="let spell">{{spell.spellSlot === 0 ? 'Cantrip': spell.spellSlot}}</td>
      </ng-container>

      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef>

        </th>
        <td mat-cell *matCellDef="let spell">
          <button mat-icon-button (click)="editSpell(spell, spellDialog)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef>
          <button mat-icon-button (click)="editSpell(null, spellDialog)">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let spell">
          <button mat-icon-button (click)="deleteSpell(spell)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let spell" [attr.colspan]="columns.length">
          <div class="example-element-detail"
               [@detailExpand]="spell == expandedSpell ? 'expanded' : 'collapsed'">
            <div class="description-container" fxLayout="column">
              <div style="font-size: 1em; font-weight: 500">{{'CastTime: ' + spell.castTime}}</div>
              <div style="font-size: 1em; font-weight: 500">{{'Range: ' + spell.range}}</div>
              <div style="font-size: 1em; font-weight: 500">{{'Duration: ' + spell.duration}}</div>
              <div style="font-size: 1em; font-weight: 500">{{'Components: ' + spell.components}}</div>
              <br>
              <div>
                {{spell.description}}
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
      <tr mat-row *matRowDef="let spell; columns: columns;"
          [class.example-expanded-row]="expandedSpell === spell">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>
</div>

<ng-template #addSlot>
  <h2 mat-dialog-title>New Spell Slot</h2>
  <mat-dialog-content fxLayout="column">
  </mat-dialog-content>
  <mat-form-field>
    <mat-label>Spell Slot Amount</mat-label>
    <input matInput type="number" [(ngModel)]="newSpellSlot.max">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Slot level</mat-label>
    <mat-select [(ngModel)]="newSpellSlot.lvl">
      <mat-option *ngFor="let slot of getHighestSlot()" [value]="slot">
        {{slot}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveSlot()">Save</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #addCounter>
  <h2 mat-dialog-title>New Counter</h2>
  <mat-dialog-content fxLayout="column">
  </mat-dialog-content>
  <mat-form-field>
    <mat-label>Counter Name</mat-label>
    <input matInput type="text" [(ngModel)]="newCounter.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Counter Max</mat-label>
    <input matInput type="number" [(ngModel)]="newCounter.max">
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveCounter()">Save</button>
  </mat-dialog-actions>
</ng-template>


<ng-template #spellDialog>
  <h2 mat-dialog-title>Add Spell</h2>
  <mat-dialog-content fxLayout="column" fxLayoutGap="5px">
    <mat-form-field>
      <mat-label>Max Level</mat-label>
      <mat-select [(ngModel)]="maxLevel">
        <mat-option [value]="0">
          Cantrip
        </mat-option>
        <mat-option [value]="1">
          1
        </mat-option>
        <mat-option [value]="2">
          2
        </mat-option>
        <mat-option [value]="3">
          3
        </mat-option>
        <mat-option [value]="4">
          4
        </mat-option>
        <mat-option [value]="5">
          5
        </mat-option>
        <mat-option [value]="6">
          6
        </mat-option>
        <mat-option [value]="7">
          7
        </mat-option>
        <mat-option [value]="8">
          8
        </mat-option>
        <mat-option [value]="9">
          9
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Class</mat-label>
      <input matInput type="text" [(ngModel)]="cls">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="5px">
      <button mat-raised-button color="primary" (click)="searchSpells()" [disabled]="!canSearch()">Search</button>
      <button mat-raised-button color="primary" (click)="getAll()">All</button>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let spell of spellsToSelect">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{spell.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{spell.spellSlot}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="row">
          <div style="font-weight: bold">Cast Time:</div>
          <div>{{spell.castTime}}</div>
        </div>
        <div fxLayout="row">
          <div style="font-weight: bold">Range:</div>
          <div>{{spell.range}}</div>
        </div>
        <div fxLayout="row">
          <div style="font-weight: bold">Components:</div>
          <div>{{spell.components}}</div>
        </div>
        <div fxLayout="row">
          <div style="font-weight: bold">Duration:</div>
          <div>{{spell.duration}}</div>
        </div>
        <br>
        <p>{{spell.description}}</p>
        <div fxLayout="row" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" [disabled]="!canAdd(spell)" (click)="addSpell(spell)">Add</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</ng-template>
