<div fxLayout="column" fxLayoutGap="5px" class="slot-container">
  <button matRipple (click)="openCounterDialog(counterEdit)"  fxLayout="row" class="reset-btn mat-elevation-z2" fxLayoutAlign="center center">
    {{counter.name}}
  </button>

  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    <button matRipple class="subtract-btn mat-elevation-z2" (click)="onSubtract()" [disabled]="counter.current === 0">
      -
    </button>
    <div>
      {{counter.current + '/' + counter.max}}
    </div>
    <button matRipple class="add-btn mat-elevation-z2" (click)="onAdd()" [disabled]="counter.max === counter.current">
      +
    </button>
  </div>

  <div fxLayout="row">
    <button fxFlex="100" matRipple class="reset-btn mat-elevation-z2" (click)="onReset()" [disabled]="counter.max === counter.current">Reset</button>
  </div>
</div>

<ng-template #counterEdit>
  <h2 mat-dialog-title>Edit Counter</h2>
  <mat-dialog-content fxLayout="column">
  </mat-dialog-content>
  <mat-form-field>
    <mat-label>Counter Name</mat-label>
    <input matInput type="text" [(ngModel)]="counter.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Counter Max</mat-label>
    <input matInput type="number" [(ngModel)]="counter.max">
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="deleteCounter()">Delete</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveCounter()">Save</button>
  </mat-dialog-actions>
</ng-template>
