<div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-card fxFlex="115px" style="background-color: rgba(1,1,1,0.1);">
      <div class="statBox" fxLayout="column" *ngFor="let stat of character.stats">
        <img src="/assets/images/statBox.png" class="statImage">
        <div class="statName" fxLayoutAlign="center center">{{stat.type}}</div>
        <div class="statValue" fxLayoutAlign="center center">{{stat.bonus}}</div>
        <div class="statBonus" fxLayoutAlign="center center">
          <input maxlength="2" type="number"
                 (keydown)="onStatKeyDown($event, stat)"
                 (focusout)="saveStat(stat)"
                 [(ngModel)]="stat.value">
        </div>
      </div>
    </mat-card>
    <div fxLayout="column" fxFlex="calc(50% - 10px)" fxLayoutGap="15px">
      <mat-card style="background-color: rgba(1,1,1,0.1)" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayout="column" fxFlex="50" class="armor-class">
            <div fxLayout="row" fxLayoutAlign="center canter" class="statValue">
              <input maxlength="2" class="stat-input" type="number" (keydown)="onHpKey($event)"
                     (focusout)="saveCharacter()" [(ngModel)]="character.armorClass">
            </div>
            <div fxLayout="row" fxLayoutAlign="center canter" class="ac-name">
              <div>Armor Class</div>
            </div>
          </div>
          <div fxLayout="column" fxFlex="50" class="armor-class">
            <div fxLayout="row" fxLayoutAlign="center canter" class="statValue">
              <input maxlength="1" class="stat-input" type="number" (keydown)="onHpKey($event)"
                     (focusout)="saveCharacter()" [(ngModel)]="character.speed">
            </div>
            <div fxLayout="row" fxLayoutAlign="center canter" class="ac-name">
              <div>Speed</div>
            </div>
          </div>
        </div>
        <div fxLayout="column" class="armor-class" style="padding: 5px">
          <div class="statValue">HP Maximum: <input maxlength="3" class="stat-input" type="number"
                                                    (focusout)="saveCharacter()" [(ngModel)]="character.maxHp"></div>
          <mat-form-field>
            <mat-label>Current HP</mat-label>
            <input maxlength="3" class="stat-input" type="number" (focusout)="saveCharacter()" matInput
                   [(ngModel)]="character.currentHp" (keydown)="onHpKey($event)">
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutGap="10px">
          <div fxLayout="column" class="armor-class" fxFlex="50">
            <div class="ac-name">Hit Dice</div>
            <div fxLayoutAlign="center center" class="ac-value">{{character.hitDice.count +
              character.hitDice.type}}
            </div>
          </div>
          <div fxLayout="column" fxFlex="50" fxLayoutGap="5px" fxLayoutAlign="center center" class="armor-class"
               style="padding-bottom: 3px">
            <div class="statValue">{{character.proficiencyBonus}}</div>
            <div class="ac-name" style="padding-top: 4px;">Proficiency</div>
          </div>
        </div>
      </mat-card>
      <mat-card style="background-color: rgba(1,1,1,0.1)" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="column" class="armor-class">
          <div fxLayout="row wrap" fxLayoutGap="5px grid" fxLayoutAlign="center center">
            <br>
            <div *ngFor="let throw of character.savingThrows" class="ac-name" style="text-align: center;">
              <mat-checkbox color="primary" [(ngModel)]="throw.hasProficiency"
                            (ngModelChange)="saveThrow(throw)"></mat-checkbox>
              {{getStatShort(throw.type) + ' (' + getStatBonus(throw) + ')'}}
            </div>
          </div>
          <div class="ac-name">Saving Throws</div>
        </div>
      </mat-card>
      <mat-card style="background-color: rgba(1,1,1,0.1)" fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="column" class="armor-class">
          <div style="padding: 10px">
            <mat-form-field style="width: 100%">
              <mat-label>Weapon</mat-label>
              <mat-select [(ngModel)]="character.currentWeapon" [compareWith]="compareWeapons"
                          (ngModelChange)="saveWeapon($event)">
                <mat-option *ngFor="let weapon of getWeapons()" [value]="weapon">{{weapon.name}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div style="font-weight: 600">{{getWeaponDamage()}}</div>
            <div>{{getWeaponDesc()}}</div>
          </div>
          <div class="ac-name">Weapon</div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutGap="10px">
    <mat-card style="background-color: rgba(1,1,1,0.1)" fxFlex="100" fxLayoutGap="10px">
      <div class="armor-class" fxLayout="column">
        <div style="padding: 5px">
          <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Languages and Proficiencies</mat-label>
            <textarea matInput rows="13" type="text" wrap="off" style="resize: none;"
                      [(ngModel)]="character.proficiencies"
                      (focusout)="saveCharacter()"></textarea>
          </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="center canter" class="ac-name">
          <div>Languages and Proficiencies</div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
