<div fxLayout="row" fxLayoutAlign="center center">
  <table mat-table [dataSource]="character.traits" fxFlex="100" style="padding: 5px"
         multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let trait">
        <div class="table-name" (click)="expandedTrait = expandedTrait === trait ? null : trait">
          {{trait.name}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="editTraits(traitDialog)">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let trait">
        <button mat-icon-button (click)="deleteTrait(trait)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let trait" [attr.colspan]="columns.length">
        <div class="example-element-detail"
             [@detailExpand]="trait == expandedTrait ? 'expanded' : 'collapsed'">
          <div class="description-container" fxLayout="column">
            <p>{{trait.description}}</p>
            <div *ngFor="let prof of trait.proficiencies">
              <div style="font-weight: bold">
                {{prof.name}}
              </div>
              <p>
                {{prof.description}}
              </p>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let trait; columns: columns;"
        [class.example-expanded-row]="expandedTrait === trait">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<ng-template #traitDialog>
  <h2 mat-dialog-title>Add Trait</h2>
  <mat-dialog-content fxLayout="column" fxLayoutGap="5px">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="traitName">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="5px">
      <button mat-raised-button color="primary" (click)="searchTraits()" [disabled]="!canSearch()">Search</button>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let trait of traitsToSelect">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{trait.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{trait.description}}</p>
        <div *ngFor="let prof of trait.proficiencies">
          <div style="font-weight: bold">
            {{prof.name}}
          </div>
          <p>
            {{prof.description}}
          </p>
        </div>
        <div fxLayout="row" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" [disabled]="!canAdd(trait)" (click)="addTrait(trait)">Add</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</ng-template>
