<div fxLayout="row" fxLayoutAlign="center center">
  <table mat-table [dataSource]="character.proficienciesObjs" fxFlex="100"style="padding: 5px"
         multiTemplateDataRows>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let prof">
        <div class="table-name" (click)="expandedProf = expandedProf === prof ? null : prof">
          {{prof.name}}
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="editProfs(profDialog)">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let prof">
        <button mat-icon-button (click)="deleteProf(prof)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="expandedDetail">
      <td mat-cell *matCellDef="let prof" [attr.colspan]="columns.length">
        <div class="example-element-detail"
             [@detailExpand]="prof == expandedProf ? 'expanded' : 'collapsed'">
          <div class="description-container">
            {{prof.description}}
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns; sticky: true"></tr>
    <tr mat-row *matRowDef="let prof; columns: columns;"
        [class.example-expanded-row]="expandedProf === prof">
    </tr>
    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
  </table>
</div>

<ng-template #profDialog>
  <h2 mat-dialog-title>Add Proficiency</h2>
  <mat-dialog-content fxLayout="column" fxLayoutGap="5px">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput type="text" [(ngModel)]="profName">
    </mat-form-field>
    <div fxLayout="row" fxLayoutGap="5px">
      <button mat-raised-button color="primary" (click)="searchProfs()" [disabled]="!canSearch()">Search</button>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let prof of profsToSelect">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{prof.name}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p>{{prof.description}}</p>
        <div fxLayout="row" fxLayoutAlign="end end">
          <button mat-raised-button color="primary" [disabled]="!canAdd(prof)" (click)="addProf(prof)">Add</button>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Close</button>
  </mat-dialog-actions>
</ng-template>
