tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.description-container {
  overflow: hidden;
  display: flex;
  padding: 5px;
}

.table-container {
  position: relative;
  height: calc(100vh - 500px );
  overflow: auto;}

mat-card {
  padding: 8px !important;
}
