<mat-toolbar color="primary"><h1 [routerLink]="['/dash']">D&D Tools</h1>
</mat-toolbar>
<mat-card style="margin: 10px; padding:8px">
  <table mat-table [dataSource]="campaigns" class="mat-elevation-z8" fxFlex="100" style="padding: 5px">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let campaign" [routerLink]="['/campaign', campaign.id]"> {{campaign.name}}</td>
    </ng-container>

    <ng-container matColumnDef="add">
      <th mat-header-cell *matHeaderCellDef>
        <button mat-icon-button (click)="addCampaign(campaignDialog)">
          <mat-icon>add</mat-icon>
        </button>
      </th>
      <td mat-cell *matCellDef="let campaign">
        <button mat-icon-button (click)="deleteCampaign(campaign)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns;"></tr>
  </table>
</mat-card>

<ng-template #campaignDialog>
  <h2 mat-dialog-title>New Campaign</h2>
  <mat-dialog-content fxLayout="column">
    <mat-form-field>
      <mat-label>Campaign Name</mat-label>
      <input matInput [(ngModel)]="newCampaign.name">
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="onSave()">Create</button>
  </mat-dialog-actions>
</ng-template>
