<mat-toolbar color="primary">
  <div class="logo" fxLayout="row" [routerLink]="['/player', character.playerName]" fxLayoutAlign="start center">
    <img src="/assets/logo.png">
    <h1>
      {{character.playerName}}</h1>
  </div>
</mat-toolbar>
<mat-card class="card-container">
  <mat-card-header>
    <mat-card-title>{{character.name}}</mat-card-title>
    <mat-card-subtitle fxLayout="column" fxLayoutGap="4px">
      <div fxLayout="row">
        <div fxLayout="row">
          <div>{{character.charClass + ' ' + character.level + ' | ' + character.race + ' | '}}</div>
          <div style="width: 40px">
            <mat-select [(ngModel)]="character.alignment" (ngModelChange)="saveCharacter()">
              <mat-option *ngFor="let al of alignments" [value]="al">{{al}}</mat-option>
            </mat-select>
          </div>
          <div>{{' | ' + character.experiencePoints}}</div>
        </div>
        <-
        <div style="width: 50px" fxLayout="row" fxLayoutGap="5px">
          <input style="width: 40px" type="number" (keydown)="addXp($event)" [(ngModel)]="addExp">
          <button class="reset-btn mat-elevation-z2" (click)="addXp()">Add</button>
        </div>
      </div>
      <div fxLayout="row">
        <mat-checkbox color="primary" [(ngModel)]="character.inspired" (ngModelChange)="saveCharacter()">Inspired
        </mat-checkbox>
      </div>
      <div fxLayout="row">
        <div>Gold: {{character.gold}}</div>
        <-
        <div style="width: 50px" fxLayout="row" fxLayoutGap="5px">
          <input style="width: 40px" type="number" (keydown)="addGold($event)"
                 [(ngModel)]="goldToAdd">
          <button class="reset-btn mat-elevation-z2" (click)="addGold()">Add</button>
          <button class="reset-btn mat-elevation-z2" (click)="subtractGold()">Subtract</button>

        </div>
      </div>
      <div fxLayout="row">
        <div>Silver: {{character.silver}}</div>
        <-
        <div style="width: 50px" fxLayout="row" fxLayoutGap="5px">
          <input style="width: 40px" type="number" (keydown)="addSilver($event)"
                 [(ngModel)]="silverToAdd">
          <button class="reset-btn mat-elevation-z2" (click)="addSilver()">Add</button>
          <button class="reset-btn mat-elevation-z2" (click)="subtractSilver()">Subtract</button>
        </div>
      </div>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-tab-group *ngIf="mobile === true" class="tabs-container" disablePagination="{{true}}">
    <mat-tab label="Stats">
      <ng-template matTabContent>
        <br>
        <app-character-stats [character]="character" (onSave)="saveCharacter($event)"></app-character-stats>
      </ng-template>
    </mat-tab>
    <mat-tab label="Spells">
      <ng-template matTabContent>
        <br>
        <app-character-spells [character]="character"></app-character-spells>
      </ng-template>
    </mat-tab>
    <mat-tab label="Skills">
      <ng-template matTabContent>
        <br>
        <app-character-skills [character]="character"></app-character-skills>
      </ng-template>
    </mat-tab>
    <mat-tab label="Items">
      <ng-template matTabContent>
        <br>
        <app-character-items [character]="character"></app-character-items>
      </ng-template>
    </mat-tab>
    <mat-tab label="Traits">
      <ng-template matTabContent>
        <br>
        <app-character-traits [character]="character"></app-character-traits>
      </ng-template>
    </mat-tab>
    <mat-tab label="Proficiency">
      <ng-template matTabContent>
        <br>
        <app-character-profs [character]="character"></app-character-profs>
      </ng-template>
    </mat-tab>
    <mat-tab label="Notes">
      <ng-template matTabContent>
        <br>
        <div fxLayout="row">
          <mat-form-field appearance="fill" fxFlex="100">
            <mat-label>Notes</mat-label>
            <textarea matInput rows="35" type="text" wrap="off" style="resize: none;" [(ngModel)]="character.notes"
                      (focusout)="saveCharacter()"></textarea>
          </mat-form-field>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <div fxLayout="column" fxLayoutGap="15px" *ngIf="mobile === false">
    <div fxLayout="row" fxLayoutGap="15px">
      <div fxFlex="33">
        <app-character-stats [character]="character" (onSave)="saveCharacter($event)"></app-character-stats>
      </div>
      <div fxLayout="column" fxFlex="33">
        <app-character-spells [character]="character"></app-character-spells>
        <br>
        <app-character-skills [character]="character"></app-character-skills>
      </div>
      <div fxFlex="33">
        <app-character-items [character]="character"></app-character-items>
      </div>
    </div>
    <app-character-traits [character]="character"></app-character-traits>
    <app-character-profs [character]="character"></app-character-profs>

    <mat-form-field appearance="fill" fxFlex="100">
      <mat-label>Notes</mat-label>
      <textarea matInput rows="35" type="text" wrap="off" style="resize: none;" [(ngModel)]="character.notes"
                (focusout)="saveCharacter()"></textarea>
    </mat-form-field>
  </div>
</mat-card>

