/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.card-container {
  height: calc(100vh - 95px);
  margin: 8px;
  overflow: auto;
}

.statBox {
  background-color: white;
  //border: solid 3px rgba(0, 0, 0, 0.78);
  border-radius: 3px;
  margin-bottom: 15px;
  position: relative;
  width: 99px;
  height: 75px;
  //background-image: url("/assets/images/statBox.png");
  //background: transparent url(/assets/images/statBox.png) no-repeat;

  img {
    position: absolute;
    left: -6.5px;
    top: -5px;
    width: 112px;
    height: 92px;
    z-index: 2;
  }

  .statName {
    font-size: 1.2em;
    font-weight: 500;
  }

  .statBonus {
    font-size: 1em;
    font-weight: 400;
    //border: solid 3px rgba(0, 0, 0, 0.78);
    border-radius: 50%;
    width: 37px;
    background-color: white;
    position: relative;
    bottom: -20px;
    left: calc(50% - 17.5px);
    input {
      background-color: rgba(0, 0, 0, 0.0);
      text-align: center;
      border: none;
      outline: none;
      width: 22px;
      padding-right: 4px;
      font-size: 1em;
      font-weight: 400;
      margin-left: 2.5px;
      z-index: 3;
    }
  }
}

.armor-class {
  background-color: white;
  border: solid 3px #2f870b;
  border-radius: 3px;

  .ac-name {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
  }
  .ac-value {
    margin-top: 5px;
    font-size: 1.2em;
    font-weight: bold;
  }
}

.statValue {
  margin-top: 5px;
  font-size: 1.3em;
  font-weight: bold;
}

.stat-input {
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  border: none;
  outline: none;
  width: 32px;
  padding-right: 4px;
}

.mat-tab-label-container {
  overflow: hidden;

  .mat-tab-list {
    overflow-x: auto;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logo {
  img {
    width: 40px;
    height: 40px;
  }
}

.logo:hover {
  cursor: pointer;
}

.table-name {
}

.table-name:hover {
  cursor: pointer !important;
  text-decoration: underline !important;
}

