@import '~@angular/material/theming';
@include mat-core();

$my-palette: (
  50: #e8eaf6,
  100: #c5cae9,
  200: #9fa8da,
  300: #2f870b,
  400: #2f870b,
  500: #2f870b,
  600: #2f870b,
  700: #2f870b,
  800: #2f870b,
  900: #2f870b,

  // ... continues to 900
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white
  )
);

$my-primary: mat-palette($my-palette, 100, 50, 200);


$my-app-primary: mat-palette($my-primary);
$my-app-accent:  mat-palette($mat-pink, 500, 900, A100);
$my-app-warn:    mat-palette($mat-deep-orange);
$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);
@include angular-material-theme($my-app-theme);
