<div fxLayout="row wrap">
  <div *ngFor="let skillsByType of skills" class="armor-class" fxLayout="column" fxFlex="calc(50% - 10px)"
       style="padding: 5px; margin-bottom: 20px; margin-right: 10px">
    <div class="skill-title">{{skillsByType[0].statType + '(' + getStatModifier(skillsByType[0].statType) + ')'}}</div>
    <div *ngFor="let skill of skillsByType" fxLayout="row" fxLayoutAligh="center center" fxLayoutGap="5px">
      <mat-checkbox color="primary" [(ngModel)]="skill.hasProficiency" (ngModelChange)="onChange($event, skill)"></mat-checkbox>
      <div class="ac-name" style="text-align: left !important;">
        {{skill.skillType + ('(' + (skill.hasProficiency ? (getStatModifier(skill.statType) + character.proficiencyBonus)
        : getStatModifier(skill.statType)) + ')')}}
      </div>
    </div>
  </div>
</div>
