.skill-title {
  position: relative;
  top: -19px;
  background-color: white;
  border: solid 3px #2f870b;
  border-radius: 3px;
  font-weight: 500;
  font-size: 1.1em;
}
mat-card{
  padding: 8px !important;
}
