<div fxLayout="column" fxLayoutGap="5px" class="slot-container">
  <button matRipple (click)="openSlotDialog(slotMax)"  fxLayout="row" class="reset-btn mat-elevation-z2" fxLayoutAlign="center center">
    {{'Level: ' + spellSlot.lvl}}
  </button>

  <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center">
    <button matRipple class="subtract-btn mat-elevation-z2" (click)="onSubtract()" [disabled]="spellSlot.available === 0">
      -
    </button>
    <div>
      {{spellSlot.available + '/' + spellSlot.max}}
    </div>
    <button matRipple class="add-btn mat-elevation-z2" (click)="onAdd()" [disabled]="spellSlot.max === spellSlot.available">
      +
    </button>
  </div>

  <div fxLayout="row">
    <button fxFlex="100" matRipple class="reset-btn mat-elevation-z2" (click)="onReset()" [disabled]="spellSlot.max === spellSlot.available">Reset</button>
  </div>
</div>

<ng-template #slotMax>
  <h2 mat-dialog-title>Edit Spell Slot</h2>
  <mat-dialog-content fxLayout="column">
  </mat-dialog-content>
  <mat-form-field>
    <mat-label>Spell Slot Amount</mat-label>
    <input matInput type="number" [(ngModel)]="spellSlot.max">
  </mat-form-field>
  <mat-dialog-actions align="end">
    <button mat-raised-button color="primary" (click)="deleteSlot()">Delete</button>
    <button mat-raised-button color="primary" (click)="closeDialog()">Cancel</button>
    <button mat-raised-button color="primary" (click)="saveSlot()">Save</button>
  </mat-dialog-actions>
</ng-template>
